.menu{
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu ul{
    list-style-type: none;
  }
  .menu ul li{
    display: inline-block;
    margin-left: 20px;
  }
  .menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  .menu ul li a:hover{
    color: blue;
  }
  .text{
    background-color: gray;
 
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text button{
    border-radius: 10px;
    background-color: rgb(105, 105, 201);
    padding: 5px 7px;
  }