.two .n1, .n2, .n3, .n4, .n5, .n6{

      width: 100px;
      height: 100px;
      background-color: bisque;
      margin: 20px auto;
      display: inline-block;
}
.two{
  height: 400px;
  display: grid;
  grid-template-columns:  100px 100px 100px;
  grid-template-rows:  100px 100px;
  grid-gap: 10px;
}
.nkar img{
  width: 100px;
  height: 100px;
}